// $color-1: #222831;
$color-1: #1d2835f2;

$color-2: #393E46;
$color-3: #00ADB5;
$color-4: #EEEEEE;


.bg-color-1 {
    background-color: $color-1;
}
.bg-color-2 {
    background-color: $color-2;
}

.bg-color-4 {
    background-color: $color-4;
}