$border-width: 2px;
$prefix: 'rh-';



.card {
    position: relative;
	border: none;
    --rh-border-color-rgb: 255, 255, 255; 
    &:before,
	&:after {
		content: '';
		position: absolute;
		z-index:-1;
	}
	&:not(.border-0):before {
		left: 15px;
		right: 15px;
		top: 0;
		bottom: 0;
		border-top: $border-width solid rgba(var(--#{$prefix}border-color-rgb), .3);
		border-bottom: $border-width solid rgba(var(--#{$prefix}border-color-rgb), .3);
	}
	&:not(.border-0):after {
		top: 15px;
		bottom: 15px;
		left: 0;
		right: 0;
		border-left: $border-width solid rgba(var(--#{$prefix}border-color-rgb), .3);
		border-right: $border-width solid rgba(var(--#{$prefix}border-color-rgb), .3);
	}

    & .card-arrow-top-left,
	& .card-arrow-top-right,
	& .card-arrow-bottom-left,
	& .card-arrow-bottom-right {
		width: 10px;
		height: 10px;
		position: absolute;
		
		&:before {
			content: '';
			position: absolute;
			width: 2px;
			height: 8px;
			background: rgba(var(--#{$prefix}border-color-rgb), .75);
		}
		&:after {
			content: '';
			position: absolute;
			width: 10px;
			height: 2px;
			background: rgba(var(--#{$prefix}border-color-rgb), .75);
		}
	}
	& .card-arrow-top-left,
	& .card-arrow-top-right {
		top: 0;
		
		&:before {
			top: 2px;
		}
		&:after {
			top: 0;
		}
	}
	& .card-arrow-bottom-left,
	& .card-arrow-bottom-right {
		bottom: 0;
		
		&:before {
			bottom: 2px;
		}
		&:after {
			bottom: 0;
		}
	}
	& .card-arrow-top-left,
	& .card-arrow-bottom-left {
		left: 0;
		
		&:before,
		&:after {
			left: 0;
		}
	}
	& .card-arrow-top-right,
	& .card-arrow-bottom-right {
		right: 0;
		
		&:before,
		&:after {
			right: 0;
		}
	}
	
	&-header {
        border-bottom: 2px solid rgba(var(--#{$prefix}border-color-rgb), .3);
		padding: 1rem 2rem;

    }

    &-body {
        padding: 2rem;

    }
    &-arrow {

        &-top-left {

        }
        &-top-right {

        }
        &-bottom-left {

        }
        &-bottom-right {

        }

    }
}